@font-face {
    font-family: juliamono;
    src: url("JuliaMono-Regular.woff2");
}

body {
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 4em;
    padding: .25em;
    font-family: juliamono;

    margin-bottom: 1.5em;

    user-select: none;
}

.lang {
    color: coral;
    font-weight: bold;
}

.interpreter {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 1.25%;

    width: 75%;
    margin: auto;

    padding: 2em;
    padding-bottom: 1em;
    padding-top: 1em;

    background-color: lightgray;

    border: 2px solid black;
    border-radius: 0.33em;
}

.interpreter-label {
    display: flex;

    margin-bottom: 0.25em;
    margin-right: 1em;
    
    font-size: 1.5em;
    font-family: juliamono;

    text-align: left;
    user-select: none;
}

.interpreter-label > .output-detection {
    margin-left: auto;
    margin-top: auto;

    width: fit-content;
    
    padding: 0.25em;

    background: white;

    font-family: juliamono;
    font-size: 11pt;

    border: 2px solid black;
    border-radius: 0.33em;

    user-select: none;
    cursor: pointer;
}

.code-editor {
    width: 100%;
    min-height: 100px;

    margin-right: auto;
}

#execute {
    width: fit-content;
    
    padding: 0.25em;
    margin-left: auto;
    margin-top: 0.5em;

    background: white;

    font-family: juliamono;
    font-size: 13pt;

    border: 2px solid black;
    border-radius: 0.33em;
    user-select: none;

    cursor: pointer;
}

#time-taken {
    width: fit-content;
    
    padding: 0.25em;
    margin-left: auto;
    margin-top: 0.5em;

    font-family: juliamono;
    font-size: 13pt;

    user-select: none;
}

.output-container {
    position: relative;
}

.output-container > .loader {
    display: none;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.output {
    position: absolute;

    resize: none;

    width: 100%;
    height: 100%;
    box-sizing: border-box;

    font-family: juliamono;
    font-size: 13pt;
}

.symbols-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 75%;
    margin: auto;
}

.symbols {
    display: flex;

    margin: auto;
    margin-bottom: 1em;

    font-family: juliamono;

    padding: 1em;

    background-color: lightgray;

    border: 2px solid black;
    border-radius: 0.33em;
}

.symbols.normal{
    width: 90%;
}

.symbols.big{
    grid-column: 1 / span 2;
    width: 95%;
}

.symbols-title {
    margin-right: 1em;
    font-size: 1.5em;
    text-align: center;
    user-select: none;
}

.symbol {
    display: inline;
    margin: auto;
}

.symbol > .repr {
    min-width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0.15em;

    background-color: whitesmoke;
    color: black;

    text-align: center;

    border: 2px solid rgb(80, 80, 80);
    border-radius: 0.33em;
    user-select: none;
}

.symbol > .repr:hover {
    cursor: pointer;
}

.symbol > .name {
    display: none;
}

.symbol > .description {
    position: absolute;
    display: none;
    width: fit-content;

    background-color: lightyellow;
    border: 1px solid black;
    user-select: none;
    padding: 0.25em;
}

.symbol:hover > .description {
    display: inherit;
}

.graph {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;

    background-color: lightgray;

    border: 2px solid black;
    border-radius: 0.33em;

    display: none;

    padding: 1em;

    z-index: 10;
}

#plot {
    border: 2px solid rgb(80, 80, 80);
    border-radius: 0.33em;
    overflow: hidden;
}

.exit {
    min-width: 1.25em;
    width: fit-content;
    height: 1.25em;

    margin-left: auto;
    margin-bottom: 0.25em;
    line-height: 1.25em;
    padding: 0.15em;

    background-color: whitesmoke;
    color: black;

    font-size: 1.5em;
    text-align: center;

    border: 2px solid rgb(80, 80, 80);
    border-radius: 0.33em;
    user-select: none;

    cursor: pointer;
}

.graph-topbar {
    display: flex;
    align-items: center;
}

.loader-container {
    width: 50px;
    height: 50px;
}

.loader {
    color: #fff;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 78px;
    opacity: 0.8;
  }
  .loader:before {
    content: "{";
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
  }
  .loader:after {
    content: "}";
    display: inline-block;
    animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
  }

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
      